@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Yes, this site may use cookies. The're purely functional for now, but may collect 
    usage data in the future, with or without updating this page.<br/>
    <br/>
    Maybe your boss has access to the usage data analytics, maybe not. Maybo he'll use
    the intel in your annual review, maybe not. By continuing to use this site, you
    implicitly acknowledge that you understand this, whether you do or don't. Will 
    this hold up in court? Nobody knows until you try.
</p>
